.navbar {
    margin-bottom: 12px;

.navbar-brand {
    color: #CF9682;
    font-weight: bold;
}
.navbar-nav {
    .nav-link {
        color: #CF9682 !important;
        font-weight: bold;
    }

    .nav-link:hover {
        color: white!important;
    }
}
.navbar-toggler {
    border: 1px solid #CF9682!important;
}
}

#encabezado {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    background-color:#f1cfba;
    color: white;
    text-align: center;
    padding: 5px 0;
    display: block;
    font-size: 14px;
} 