/*Pagina productos */

#section-2-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    justify-items: center;

.img-prod {
height: 200px;
 width: 200px;

 & {

 transform: scale(1.2); }

}

.caja-producto {
.precio {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: black;
}

.item-name {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 1px;
    margin-bottom: -10px;
    color: black;
}

.cuotas {
    font-size: 12px;
    text-align: center;
    margin-top: -10px;
    color: black;

} }