//Reglas de los títulos

.titulos {
    font-family: 'Cantata One', serif;
    font-weight: 40px;
    word-spacing: 5px;
    text-align: center;
    color: $principal;
    margin-top: 50px;
}

.subtitulos {
    color: $principal;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
}

.sub-subtitulos {
    text-align: center;
    font-family: 'Cantata One', serif;
    padding: 10px 10px;
}