@import "variables";
@import "font";
@import "titulos";
@import "nav";
@import "footer";
@import "inicio";
@import "contacto";
@import "nosotros";
@import "preguntasfrecuentes";
@import "btn";
@import "responsive";

/* Reglas generales */

body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: $fontBody;
    color: $textos;
    margin: 0;
    padding: 0;
}





/*Pagina productos */

#section-2-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    justify-items: center;
}

#lista-de-productos img {
    height: 200px;
    width: 200px;
}

.img-prod:hover {
    transform: scale(1.2);

}
.precio {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: black;
}

.item-name {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 1px;
    margin-bottom: -10px;
    color: black;
}

.cuotas {
    font-size: 12px;
    text-align: center;
    margin-top: -10px;
    color: black;

}
